.header-hero {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./fondo.png");
  background-size: cover;
  input {
    border: none;
    outline: none;
    width: 450px;
    border-radius: 10px;
    padding: 15px 10px;
    background: rgba(255, 255, 255, 0.8);
    &:focus {
      background: #fff;
    }
  }
}

.svg-container {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 50%;
  svg {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .header-hero {
    height: 180px;
    input {
      width: 260px;
    }
  }
  .svg-container {
    svg {
      width: 60px;
    }
  }
}
