footer {
  background: #231e58;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: #e4e4e4;
  h3 {
    font-size: 1.8rem;
    margin-right: 10px;
  }
  ul {
    list-style: none;
    li {
      font-size: 1.3rem;
      padding: 5px;
    }
  }
}
